<h1>Hipster nation</h1>

<ul>
<% @articles.each do |article| %>
  <article>
    <%= link_to article_path(article) do %>
    <h2><%= article.title %></h2>
    <% end %>
    <p><%= article.content %></p>
  </article>
<% end %>
</ul>
<h3><%= link_to "+ Add a new article", new_article_path  %></h3>
